li {
    display: inline;
}
.footer {
    background-color: #CDCDCD;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.social-logo img{
    width: 30px;
    height: auto;
    margin-right: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 3em;
}

tr {
    margin-left: 100px;
}